body, h2, h4, img, div, section{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body
{
    
    background-color: bisque;


}
section {
    background-color: rgb(249, 250, 250);
    padding: 20px;
    border-radius: 15px;
    max-width: 850px;
    margin: 150px auto;
}
.section h4
{
    font-family:sans-serif;
}
section img
{
    width: 100%;
    box-sizing: border-box;
    height: 380px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    max-width: 850px;
    box-shadow: 10px 4px 18px rgba(0,0,0,0.2);
}
.Preparation
{
    background-color: rgb(119, 113, 123);
    padding: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 5px;
}
.Ingredients h3
{
    color: rgb(222, 165, 79);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


@media(min-width: 600px)
{
    body{
        padding:40px;
    }
    div{
        padding:  40px;
    }
    h2 {
        font-size: 28px;
    }
    li{
        font-size: 19px;
    }
}